$color-primary: #131530;
//$color-secondary:#e31b6d;
$color-secondary:#fa6527;
$color-third: #00c3fe;
$color-text: #444649;
$font-primary: 'Raleway', sans-serif; 
$color-footer: #0e1024;

$bp-largest: 75em;  //1200px / 16 = 75 em
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px


@mixin respond($breakpoint){
  @if $breakpoint == low-screen-min{
    @media only screen and (max-height: 40.625em) { @content }; // 650px
  }
  @if $breakpoint == low-screen{
    @media only screen and (max-height: 53.125em) { @content }; //850px
  }
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-port-max {
    @media only screen and (max-width: 68.75em) { @content }; //1100px
}
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == netbook {
    @media only screen and (max-width: 80.625em) { @content }; //1290px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };//1800px
  }
}


*,
*::before,
*::after {
  margin: 0; 
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @include respond(tab-land){
    font-size: 56.25%; //1rem = 9px; 9/16
}

@include respond(tab-port){
    font-size: 50%; //1rem = 8px; 8/16 = 5-%
}

@include respond(big-desktop){
    font-size: 65%; //1rem = 12px; 12/16 = 75%
}
}

body {
  font-family: $font-primary; 
  font-weight: 400;
  line-height: 1.6;
}

:root {
  scrollbar-color:$color-secondary $color-primary !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $color-primary;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
}