#header {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) *100);
  width: 100%;
  background-color: $color-primary;
  overflow: hidden;
}

.wave{
  position: absolute;
  left:0;
  bottom: -1rem;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width:100%;

  @include respond(tab-port){
    grid-template-columns: 1fr;
    grid-template-rows:10rem repeat(2, 30vh);
    align-content: end;
  }

  &__heading{
    width: 50rem;

    @include respond(netbook){
      margin-left: 10rem;
    }
    @include respond(tab-port){
      margin-left: 0;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    

    &-text{
      display: flex;
      flex-direction: column;
      color:white;
      margin-bottom: 2rem;

      &-primary{
        display: block;
      }

      &-name{
        color: $color-secondary;
      }
    }
  }

  #markups {
    height: 60rem;
    width: auto;
    fill:$color-secondary;
    z-index: 1;
    @include respond(tab-port){
      height: 60rem;
      grid-row: 2 / 3;
    }
  }
}